*{
    /* border:2px black solid; */
}
.form-content-left {
    background: linear-gradient(90deg,
    rgb(74, 152, 230) 0%,
    rgb(119, 178, 236) 100%
    );
    border-radius: 10px 0 0 10px;
    position: relative;
}
.form-content-right {
    color:white;
}
.input-div {
    width:80%;
}
input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
}
textarea:focus, input:focus{
    outline: none;
}
label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: #fff;
}
button {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(90deg,
    rgb(74, 152, 230) 0%,
    rgb(119, 178, 236) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}
button:hover{
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgb(39, 143, 255) 0%,
      rgb(12, 99, 250) 100%
    );
    transition: all 0.4s ease-out;
}
span a {
    text-decoration: none;
    color: #4a98e6;
    font-weight: 600;
}

span {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
}