.article-form-container{
    margin:auto;
    margin-top: 10%;
    border: 2px teal solid;
    display:flex;
    flex-direction: row;
    width:800px;
}
.right-content {
    background: linear-gradient(90deg,
    rgb(74, 152, 230) 0%,
    rgb(119, 178, 236) 100%
    );
    border-radius: 0px 10px 10px 0px;
    position: relative;
    width:50%;
}
.add-article-content{
    margin:auto;
    width:50%;
    border-radius: 10px 0 0 10px;
    color:white;
    background-color: black;
    padding: 5%;
    display:flex;
    flex-direction: column;
}
.text-input{
    width:100%;
    padding-bottom: 4px;
}
.selection{
    padding-bottom: 4px;
    display:flex;
    flex-direction: column;
}
.article-button{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    padding-bottom: 10px;
}
